.slidecontainer {
    width: 50%;
  }
  
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .9s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0a0d0c; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #finalsubmit{
    color: white;
    background-color: rgb(44, 177, 229);
    padding: 10px;
    margin: 5px;
  }
div{
    margin: 10px;
    
}

input:hover {
 background-color: blue;
}

p{
  margin: 0;
}
fieldset{
    border:10px solid #0024d6;
    background-color: lavender;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 720px;
}
  legend {
    border-style: ridge;
    outline-style:ridge;
    border-radius: 10px;
    outline-color: purple;
    border-radius: 10px;
    padding: 12px;
    color: white;
    background-color: purple
  }

 label{
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 200px;
 } 
body{
  width: 50%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
